<div *ngIf="(product$ | async) as detailProduct">
  <div class="detail">
    <img [src]="detailProduct.image" alt="" />
  </div>
  
  <div>
    <ul>
      <li>Nombre:{{ detailProduct.title }}</li>
      <li>Preccio:{{ detailProduct.price | currency }}</li>
    </ul>
    <p>{{ detailProduct.description }}</p>
  </div>
  <button (click)="createProdcut()">crear</button>
  <button (click)="updateProduct()">actualizar</button>
  <button (click)="deleteProduct()">Eliminar</button>
  <button (click)="getUser()">Get Usuairo</button>


  
</div>