<footer class="row center-xs middle-xs">
<div class="col-xs-6">
    <mat-card>
        <mat-card-header class="center-xs">
            <mat-card-title>
                Siguenos
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions class="row center-xs">
            <button mat-fab color="primary"><mat-icon svgIcon="youtube"></mat-icon></button>
            <button mat-fab color="primary"><mat-icon svgIcon="twitter"></mat-icon></button>
            <button mat-fab color="primary"><mat-icon svgIcon="platzi"></mat-icon></button>
        </mat-card-actions>
        <mat-card-footer>
            <p>PRIVACY POLICY ABOUT BEE</p>
        </mat-card-footer>
    </mat-card>
</div>
</footer>
