/* :host {
  margin: 2px;
  border-radius: 5px;
  display: block;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--terciari-color);
}

.product-image {
  margin: auto;
}

.product-image img {
  max-width: 100%;
}

.product-detail {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: var(--font-text);
  word-spacing: 5px;
}

.product-detail h3 {
    color: var(--main-color);
    margin: 10px 0px 0px 0px;
    font-family: var(--main-font);
    font-size: 24px;

}

.product-detail strong {
    color: #0791e6;
    font-weight: 900;
    margin: 10px 0px;
    font-size: 18px;
}

.product-button {
  height: 30px;
  font-family: var(--font-text);
  cursor: pointer;
  background-image: var(--background-gradient-primary);
  border-radius: 5px;
  border: none;
  color: var(--secondary-color);
  font-weight: bold;
}

.product-button:hover {
  background-image: none;
  background-color:var(--secondary-color);
  color: var(--text-color);
  border: solid 1px #000000;
}

.product-button:focus {
  outline: none;
} */

img{
  max-width: 100%;
}
.crop-image {
  display: block;
  height: 300px;
  width: 100%;
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}